# CMake
cmake-build-*/

# Visual Studio
.vs/

# JetBrains
.idea/

# DXC -- downloaded by DownloadDX.cmake
Core/Deps/dxc

# tinyobjloader -- downloaded by DownloadDX.cmake
Core/Deps/tinyobjloader

# stb_image -- downloaded by DownloadDX.cmake
Core/Deps/stb

# VS output folder
out/