[submodule "Core/Deps/DirectXTK12"]
	path = Core/Deps/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "Core/Deps/DirectX-Headers"]
	path = Core/Deps/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Core/Deps/imgui"]
	path = Core/Deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
